body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: '#f4f4f4' !important;
}

html,
body {
  height: 100%;
}

code {
  font-family: 'Miriam Libre', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.no-underline {
  text-decoration: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Miriam+Libre:wght@400;700&family=Roboto:wght@400;500&display=swap');
